# .github/workflows/ejecutar.yml

name: Ejecutar

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x' # Puedes especificar una versión exacta como '3.10' o '3.11' si lo necesitas

      - name: Install dependencies
        # ¡IMPORTANTE! Esto asegura que el comando se ejecuta desde la raíz del repositorio.
        working-directory: ${{ github.workspace }}
        run: pip install -r requirements.txt

      - name: Run tests
        # También es buena práctica ejecutar las pruebas desde la raíz.
        working-directory: ${{ github.workspace }}
        run: pytest
